* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

main {
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}

#div {
    height: 110px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    border-bottom: 1px solid white;
    padding: 5px 10px;
    background-color: transparent;
}

#div h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
    color: white;
    user-select: none;

}

#div img {
    height: 110px;
    width: 110px;
    object-fit: cover;
    border-radius: 50%;
    position: absolute;
    transition: all ease 0.2s;
    opacity: 0;
    mix-blend-mode: difference;
}